@import url("homepage_logo.css");
@import url("drink_button.css");
/* body */
body{
    padding : 0;
    margin : 0;
}
/* upper container */
.container {
  background-color: white;
  height: 100vh;
  width: 100vw;
}
/* number text specification */
.container_number{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
  font-size: 20em;

  }
/* resize */
@media(max-height: 440px) {
  .container_number {
    font-size: 10em;
  }
}



